@media screen and (max-width: 375px) {
    header {
        width: 375px;
        background-color: red;
    }
    .section1 {
        width: 355px;
        margin-left: 10px;
    }
    .section2 {
        width: 355px;
        margin-left: 10px;
    }
    .section2 .div1 {
        width: 305px;
    }
    .section2 .div2 {
        width: 305px;
    }
    .section2 .div3 {
        width: 305px;
        margin-top: 25px;
    }
    form {
        width: 355px;
    }
    form :nth-child(1) {
        width: 305px;
    }
    form :nth-child(2) {
        width: 305px;
        margin: 25px 0 ;
    }
    .addinfo {
        width: 305px;
    }
    footer {
        width: 370px;
        margin-left: 10px;
        height: 250px;
        position: relative;
    }
    .element input {
        margin-bottom: 5px;
    }
    .btn2 {
        width: 350px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }

}